<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Jaehyung Joo @ 2018</a>
            </li>
        </ul>
        <div class="col">
            <div class="float-right">
                <a href="/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="/"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        </div>
    </div>
</nav>
<!--
<footer class="bg-lightgrey text-center">
    <a href="/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    <a href="/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
    <a href="/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
    <a href="/"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</footer>
-->