<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head'); %>

    <title>Pricing | cornap</title>
    <link rel="stylesheet" href="/stylesheets/pricing.css">
</head>
<body>

<%- include('partials/navbar'); %>

<section class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="section-title">
                    <h2 class="text-center color-red">Pricing Plans</h2>
                    <p class="color-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid in ullam labore optio temporibus ex recusandae minima et ipsa aliquam!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="single-pricing-box">
                    <h3>Starter</h3>
                    <div class="pricing-icon">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li>1GB web Space</li>
                            <li>5+ Mysql Database</li>
                            <li class="off">Managed CMS</li>
                            <li class="off">Unlimited Bandwidth</li>
                            <li class="off">Other features</li>
                        </ul>
                    </div>
                    <h3 class="pricing-count">$/mo</h3>
                    <a href="" class="bordered-btn">Order Now</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-pricing-box">
                    <h3>Personal</h3>
                    <div class="pricing-icon">
                        <i class="fas fa-address-book"></i>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li>2GB web Space</li>
                            <li>10+ Mysql Database</li>
                            <li>Managed CMS</li>
                            <li class="off">Unlimited Bandwidth</li>
                            <li class="off">Other features</li>
                        </ul>
                    </div>
                    <h3 class="pricing-count">$$/mo</h3>
                    <a href="" class="bordered-btn">Order Now</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-pricing-box">
                    <h3>Professional</h3>
                    <div class="pricing-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li>5GB web Space</li>
                            <li>15+ Mysql Database</li>
                            <li>Managed CMS</li>
                            <li>Unlimited Bandwidth</li>
                            <li class="off">Other features</li>
                        </ul>
                    </div>
                    <h3 class="pricing-count">$$$/mo</h3>
                    <a href="" class="bordered-btn">Order Now</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-pricing-box">
                    <h3>Business</h3>
                    <div class="pricing-icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li>10GB web Space</li>
                            <li>20+ Mysql Database</li>
                            <li>Managed CMS</li>
                            <li>Unlimited Bandwidth</li>
                            <li>Other features</li>
                        </ul>
                    </div>
                    <h3 class="pricing-count">$$$$/mo</h3>
                    <a href="" class="bordered-btn">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer'); %>

</body>
</html>