<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/team.css">
</head>
<body>

<%- include('partials/navbar'); %>

<h2>Our Team</h2>
<p>Multiple Styles!</p>

<div class="row justify-content-center">
    <!-- one -->
    <ul class="one">
        <li class="transition">
            <div class="wrapper">
                <img class="transition" src="http://dooreight.com/codepen/people/img_01.png">
                <ul class="social">
                    <li>Young artist from Barcelona. She hates Comic Sans. <br>
                        Find her on:</li>
                    <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
                <span class="transition">
                <h3>Lucy Lee <em>CEO & Founder</em></h3>
                <img src="http://dooreight.com/codepen/people/more.svg">
            </span>
            </div>
        </li>
    </ul>

    <!-- two -->
    <ul class="two">
        <li class="transition">
            <div class="wrapper"> <img class="transition" src="http://dooreight.com/codepen/people/img_01.png">
                <ul class="social">
                    <li>Young artist from Barcelona. She hates Comic Sans. <br>
                        Find her on:</li>
                    <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
                <span class="transition">
      <h3>Lucy Lee <em>CEO & Founder</em></h3>
      <i>more</i> </span> </div>
        </li>
    </ul>

    <!-- three -->
    <ul class="three">
        <li class="transition">
            <div class="wrapper"> <img class="transition" src="http://dooreight.com/codepen/people/img_01.png">
                <ul class="social">
                    <li>Young artist from Barcelona. She hates Comic Sans. <br>
                        Find her on:</li>
                    <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
                <span class="transition">
      <h3>Lucy Lee <em>CEO & Founder</em></h3>
      <img class="mamber-img" src="http://dooreight.com/codepen/people/img_01.png">
      <h3>Lucy Lee</h3>
      <i>more</i> </span> </div>
        </li>
    </ul>

    <!-- nine -->
    <ul class="nine">
        <li class="transition">
            <div class="wrapper"> <span class="transition"> <img class="transition" src="http://dooreight.com/codepen/people/img_05.png"></a>
                    <h4 class="transition">Contact me</h4>
      </span>
                <h3 class="transition">Johan Van Font <em>Front end developer</em></h3>
                <div class="trigger"> <i class="transition">+</i> </div>
                <ul class="social transition">
                    <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<div class="row justify-content-center">
    <!-- four -->
    <ul class="four">
        <li class="transition">
            <div class="wrapper"> <img src="http://dooreight.com/codepen/people/icon_01.svg">
                <ul class="social">
                    <li>Young artist from Barcelona. She hates Comic Sans. <br>
                        Find her on:</li>
                    <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
                <span class="transition">
      <h3 class="transition">Lucy Lee <em>CEO & Founder</em></h3>
      <img class="mamber-img" src="http://dooreight.com/codepen/people/img_01.png"> </span> </div>
        </li>
    </ul>

    <!-- six -->
    <ul class="six">
        <li class="transition">
            <div class="wrapper"> <img class="mamber-img transition" src="http://dooreight.com/codepen/people/img_01.png">
                <ul class="social">
                    <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
                <span class="transition">
      <h3 class="transition">Lucy Lee <em>CEO & Founder</em></h3>
      <img class="transition" src="http://dooreight.com/codepen/people/icon_01_white.svg"> </span> </div>
        </li>
    </ul>

    <!-- seven -->
    <ul class="seven">
        <li class="transition">
            <div class="wrapper">
                <ul class="social transition">
                    <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
                <span class="transition">
      <h3 class="transition">Johan Van Font <em>Front end developer</em></h3>
      <img class="transition" src="http://dooreight.com/codepen/people/icon_02_white.svg">
      <h4 class="transition">Contact me:</h4>
      </span>
                <div class="arrow"></div>
            </div>
        </li>
    </ul>

    <!-- eight -->
    <ul class="eight">
        <li class="transition">
            <div class="wrapper"> <span class="transition">
      <h3 class="transition">Lidel Hofer<em>My tube CEO</em></h3>
      <div class='image-container transition'>
        <div class='creation'>
          <div class='front'>
            <div class='cont'> <i class='details'><img class="icon-circle transition" src="http://dooreight.com/codepen/people/icon_02_white.svg"></i> </div>
          </div>
          <div class='back'>
            <div class='cont'> <i class='details'><img src="http://dooreight.com/codepen/people/img_02.png"></i> </div>
          </div>
        </div>
      </div>
      </span>
                <ul class="social transition">
                    <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
                <div class="arrow"></div>
            </div>
        </li>
    </ul>
</div>

<%- include('partials/footer'); %>

</body>
</html>