<!doctype html>
<html lang="en">
<head>
    <%- include('partials/header'); %>
    <title>Document</title>
</head>
<body>

<%- include('partials/navbar'); %>


<%- include('partials/footer'); %>

</body>
</html>