.icon-md{
    max-width: 200px;
}

.margin-bottom-lg{
    margin-bottom: 100px;
}
.margin-bottom-md{
    margin-bottom: 50px;
}
.margin-bottom-sm{
    margin-bottom: 20px;
}

.img-lg{
    max-width: 500px;
}